* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100vw;
}


.nav-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 0, 0);
    color: white;
    height: 2%;
    text-align: center;
    padding: 0.2rem;
    font-size: 1.6rem;
    border: 0.2rem solid black;
    padding: 3% 0%;
    text-align: center;
}
.container {
    width: 100%;
    height: 98%;
    display: flex;
    flex-direction: row;
    

}

.left{
    width: 30%;
    height: 100%;
    min-height: 0;

    background-color: #3b3a3a;
    color: white;
    display: flex;
    flex-direction: column;
    
    
    padding: 0% 0%;

    .array-inputs {
        background-color: rgba(63, 116, 163, 0.388);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 50%;
        
        
        padding: 5%;
        margin: 3%;
    
        #a_size {
            padding: 5% 0%;
        }
    
        #a_speed {
            padding: 5% 0%;
        }
        #a_generate {
            background-color: transparent;
            border: none;
            outline: none;
            color: white;
            padding: 2% ;
            margin: 0;
            
        }
        #a_generate:hover {
            cursor: pointer;
            background-color: rgba(222, 222, 222, 0.553);
            border-radius: 1rem;
        }
    }
    
    
}




   
    

    .algos {
        background-color: rgba(63, 116, 163, 0.388);
        
        height: 50%;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;    
        justify-content: space-evenly;
        margin: 3%;
        padding: 2% 0%;
    }
    .algos button {
        background-color: transparent;
        border: none;
        color: white;
        outline: none;
        padding: 2% 0%;
        margin: 0.1rem;
        font-size: medium;
        border-radius: 1rem;
    }
    .algos button:hover {
        background-color: rgba(222, 222, 222, 0.553);
        cursor: pointer;
    }
    .algos .butt_locked {
        background-color: transparent;
        cursor: pointer;
    }
     .algos .butt_locked:hover {
        background-color: transparent;
        cursor: pointer;
    }
     .algos .butt_selected {
        background-color: rgb(0, 0, 0);
        color: white;
    }
     .algos .butt_selected:hover {
        background-color: rgb(0, 0, 0);
        cursor: pointer;
    }
     .algos .butt_unselected:hover {
        background-color: rgba(222, 222, 222, 0.553);
        cursor: pointer;
    }



















.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    min-height: 0;
    overflow: hidden;
    
    
    #array_container {
        
        display: flex;
         width: 100%;
        height: auto;
        flex: 1;
        
    }
    
    .info{
        display: flex;
        width: 100%;
        min-height: 25%;
        justify-self: center;
        
        background-color: #3b3a3a;
        color: white;
        
        text-align: center;

        .Pair_Definitions{
            padding: 2% 0;
        }
        
    }
     
    #Info_Cont1 {
        
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 1%;
        

        h3 {
            background-color: rgba(192, 186, 186, 0.632);
            border-radius: 0.2rem;
            padding: 1%;
            margin: 1%;
            width: 100%;
        }

       
        .Pair_Definitions{
            display: flex;
            width: 100%;
            justify-content: center;
            border-radius: 0.2rem;
            
            p{
                font-size: smaller;
                background-color: rgba(192, 186, 186, 0.632);
                width: 100%;
                
                padding: 1% 0;
                margin: 1% 0;

                
            }

        }
    }

    #Info_Cont2 {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 3%;
        
        

        h3 {
            background-color: rgba(192, 186, 186, 0.632);
            border-radius: 0.2rem;
            padding: 1%;
            
            width: 100%;
        }

        .Pair_Definitions{
            display: flex;
            width: 100%;
            justify-content: center;
            background-color: rgba(192, 186, 186, 0.632);
                border-radius: 0.2rem;
            p{
                font-size: smaller;
                
                
                
            }

        }
    }
    
  
   

    


}



@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100vw;
   }

   .nav-heading{
    font-size: 1rem;

   }
  

        .left {
            display: flex;
            flex-direction: column;
            
       }
    
       .array-inputs{
        font-size: 0.5rem;
       }
       
    
            
        .algos{
            font-size: 5px;
        }
       
   

   .right{

    display: flex;
    flex-direction: column;

    .info{
        
    }
    
    
    #Info_Cont1{
        

        h3{
            font-size: smaller;
        }
    }
    #Info_Cont2{
        h3{
            font-size: smaller;
        }
    }
    #array_container{
        width: 100%;
    }
   
   
}

}


.hide {
    display: none;
}
